.header-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   background: var(--hero-background-image);
   background-repeat: no-repeat;
   background-position: center 0;
   @include media-md {
      background-size: auto 620px;
      background-position: -5px -30px;
      justify-content: flex-end;
      padding: 0 60px;
   }
   @include media-sm {
      padding: 0 30px;
      justify-content: space-between;
   }
}

.header__nav {
   margin-left: auto;
   transition: 0.5s;
   @include media-md {
      z-index: 100;
      position: fixed;
      width: 620px;
      height: 100vh;
      top: 0;
      left: 150px;
      right: -620px;
      background-color: var(--background-color);
   }
}
.nav-active {
   @include media-md {
      right: 0;
   }
}
.logo {
   margin: 20px;
   background-image: url("./assets/svg/logo.svg");
   background-size: contain;
   background-repeat: no-repeat;
   filter: var(--filter-color);
   height: 50px;
   width: 50px;
   transition: 0.3s;
   cursor: pointer;
   &:hover {
      filter: var(--logo-hover-color);
   }
   @include media-md {
      margin-left: 0;
      margin-right: auto;
   }
}

.nav-list,
.lang-list {
   list-style: none;
   padding-left: 0;
   display: flex;
}
.nav-list {
   padding-right: 5px;
   @include media-md {
      flex-direction: column;
      padding-top: 124px;
      padding-left: 112px;
   }
   @include media-min-md {
      padding-left: 142px;
   }
   @include media-min-sm {
      padding-left: 122px;
   }
   @include media-sm {
      padding-left: 220px;
   }
   @include media-xs {
      padding-left: 320px;
   }
}
.lang-list {
   padding-right: 5px;
   position: relative;
}
.nav-item {
   @include media-md {
      padding-bottom: 16px;
   }
}
.nav-link,
.lang-link {
   @include font($size: 2rem, $height: 5rem, $weight: normal);
   color: var(--font-color);
   text-decoration: none;
   padding: 0 15px;
   @extend %transition;
   cursor: pointer;
   &:hover {
      color: var(--menu-hover-color);
      @include media-md {
         color: var(--secondary-color);
      }
   }
}
.nav-link {
   @include media-md {
      @include font($size: 3.5rem, $height: 7.255rem, $weight: normal);
   }
}
.lang-link {
   font-weight: bold;
}
.lang-en {
   padding-right: 9px;
}

.lang-slash:after {
   content: "/";
   height: 20px;
   width: 8px;
   @include font($size: 2rem, $height: 5rem);
   padding-right: 11px;

   color: var(--font-color);
   position: absolute;
}
.lang-ru {
   @include media-md {
      padding-left: 27px;
   }
}
.active-link {
   color: var(--button-color);
}

.switcher-icon {
   display: block;
   margin: 20px;
   background-image: var(--switcher-background-image);
   background-size: contain;
   background-repeat: no-repeat;
   height: 40px;
   width: 40px;
   transition: 0.3s;
   cursor: pointer;
   span {
      user-select: none;
   }

   &:hover {
      filter: var(--icons-hover-color);
   }
}
